/* Google Font import for Cabin and Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Raleway:wght@300;700&display=swap');

:root {
    --mainfont: 'Cabin', sans-serif;
    --secondaryfont: 'Raleway', sans-serif;
    --colour1: #242424;
    --colour2: whitesmoke;
    --accent: rgb(173, 20, 20);
}

body {
    font-family: var(--mainfont);
}

/*-------------------------------------- Nav Bar*/
.navbar{
    background-color: rgba(53, 53, 53, 0.301);
    margin-bottom: 0;
    position: fixed;
    margin-right: auto;
    border: 0;
    width: 100%;
}

.navbar-nav > li > a {
    color: var(--accent);  
    /* Bug that was found on 30/11 with solution sourced from Stack Overflow. Detailed report in Bugs section of README file*/
}

