/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@900&family=Roboto:wght@400;700&display=swap');

/*------------------------------------------------------- Root Variables */

:root {
    /* Font variables */
    --titlefont: 'Roboto', sans-serif;
    --bodyfont: 'Lato', sans-serif;
    --specialfont: 'Montserrat', sans-serif;

    /* Colour variables for font */
    --colour1: rgb(20, 20, 20);
    --colour2: rgb(246, 246, 246);
    --accent: rgb(123, 0, 0);

    /* Colour variables for navbars */
    --nav-dark: rgba(0, 0, 0, 0.705);
    --nav-light: rgba(40, 40, 40, 0.26);
    --nav-scroll: rgba(0, 0, 0, 0.952);

    /* Colour variables for divs */
    --bg-div-light: rgba(241, 241, 241, 0.952);
    --bg-div-dark: rgb(20, 20, 20);

    /* Colour variables for horizontal rulers */
    --hr-colour: rgba(246, 246, 246, 0.377);
}
/*------------------------------------------------------- Special Fonts */

body {
    font-family: var(--bodyfont);
    font-weight: 300;
}

/* Styling for text that need to be distinguished */
.text-exception {
    color: var(--accent);
    font-family: var(--titlefont);
    font-weight: 700;
}

/*------------------------------------------------------- Header */

/* Styling for navigation bar */
.navbar{
    background-color: var(--nav-dark);
    width: 100vw;
    margin-bottom: 0;
    border: 0;
    
    right: 0;
    position: fixed;
    z-index: 100;
    padding: 10px;
}

/* Styling for logo */
.navbar-logo {
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
    border: 0;
    position: fixed;
    width: 50vw;
    left: 0;
    z-index: 101;
}

/* Styling for nav links in navigation bar */
.navbar-nav{
    background-color: var(--nav-dark);
    padding: 10px;
    border-radius: 15px;
    z-index: 100;
}
.navbar-nav li a {
    font-family: var(--titlefont);
    font-weight: 400;
    text-align: center;
    color: var(--accent); 
    font-size: 1.25em; 
    line-height: 130%;
    /* Bug that was found on 30/11 with solution sourced from Stack Overflow. Detailed report in the 'Bugs' section of README file*/
}
.navbar-nav .active{
    color: var(--colour2);
}
.nav-padding {
    padding-top: 30px;
    /* Needed for toggler navbar on mobile devices */
}

/* Changes navbar for Press Kit page in order to sit on top of images without obstructing them, for UX purposes */
#epk-nav {
    background-color: var(--nav-light);
}

/* Styling for navbar toggler */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(173, 20, 20)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* Sourced from Stack Overflow to re-colour the toggle button on mobile devices (RGB value had to be entered instead of root varable).
    https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color*/
} 
.custom-toggler{
    border-color: var(--accent);
}
.custom-toggler:active {
    border-color: var(--accent);
} 
.navbar-toggler {
    margin: 12px 12px 12px 0px;
}

/* Defines actions to be taken by navbar on scroll - For mobile devices */
.scroll-nav.scrolled {
    background-color: var(--nav-scroll) !important;
    transition: background-color 200ms linear;
}

/*------------------------------------------------------- Socials - Header */

/* Social Links appear in the nav bar header on smaller screens*/
.socials-nav {
    color: var(--accent); 
    padding: 0px;
    margin: 0px auto;
    /* Bug that was found on 09/12 with solution sourced from Stack Overflow. Detailed report in the 'Bugs' section of README file*/
}

/*------------------------------------------------------- Homepage Styling */

/* General styling for hero image */
#home-hero {
    /* Hero Image compatible with mobile devices */
    background: url(../images/hero1-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Bug that was found on 02/12 with solution sourced from Stack Overflow. Detailed report in the 'Bugs' section of README file*/

    width: 100vw;
    height: 60vh;
}

/* General styling for home page text */
#home-text {
    background-color: var(--colour1);
    color: var(--colour2);
    width: 100vw;
    height: 40vh;
    text-align: center;
    
    /* Bug that was found on 01/12 with solution sourced from Stack Overflow. Detailed report in the 'Bugs' section of README file */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#home-text h1 {
    font-family: var(--specialfont);
    font-size: 2em;
}
#home-text a {
    color: var(--accent);
    text-decoration: none;
}
#home-text a:hover {
    color: var(--colour2);
}
#home-text h2 {
    font-size: 2em;
    font-weight: 400;
}

/*------------------------------------------------------- BioPage Styling */

/* General styling for hero image */
#bio-hero {
    /* Hero Image compatible with mobile devices */
    background: url(../images/hero2-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 60vh;
    /* Bug that was found on 09/12 with solution sourced from Stack Overflow. Detailed report in the 'Bugs' section of README file*/  
}

/* General styling for Bio text */
#bio-info {
    background-color: var(--colour1);
    color: var(--colour2);
    font-size: 1.2em;

    width: 100vw;
    min-height: 40vh;
    padding: 25px;

    text-align: left;
    justify-content: center;
    align-content: center;
}
#bio-title {
    font-family: var(--titlefont);
}

/* Styling for accordion text */
#bio-accordion a {
    color: var(--accent);
    font-family: var(--bodyfont);
    font-weight: 400;
    text-decoration: none;
}
#bio-accordion a:hover {
    color: var(--colour2);
}

/*------------------------------------------------------- Live Page Styling */

/* General styling for hero image */    
#live-hero {
    /* Hero Image compatible with mobile devices */
    background: url(../images/hero3.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 60vh;
}

/* General styling for Live text */
#live-bg {
    background-color: var(--colour1);
}
#live-details {
    background-color: var(--colour1);
    margin: auto;

    width: 100vw;
    min-height: 40vh;

    justify-content: center;
    align-items: center;
    align-content: center;
}
#live-title {
    font-family: var(--titlefont);
    font-size: 1em;
    color: var(--accent);
    text-align: center;
    margin: 15px 0px 5px 0px;
}
#live-info {
    max-width: 80%;
    margin: auto;
    padding: 5%; 
}
#live-table {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Styling for Upcoming Dates table */
#live-table table {
    color: var(--colour2);
    line-height: 0.1;
    letter-spacing: 1px;
    text-align: center;

    border-collapse: collapse; 
} 
#live-table tr th {
    padding: 0;
    vertical-align: middle;
}
#live-table h2 {
    /* Event date */
    font-size: small; 
    text-transform: uppercase;   
}
#live-table span {
    /* Event location */
    font-size: 1.4em;
}  
#live-table h3 {
    /* Event venue */
    font-size: 1.2em;
    font-family: var(--specialfont);
}
#live-table p {
    /* Event time/price */
    font-size: small;
    word-spacing: 5px;
}
#live-table a {
    color: var(--accent);
}
#live-table a:hover {
    text-decoration: none;
    color: var(--colour2);
}

/* Styling for ticket button */
#live-ticket {
    border-radius: 5px;
    padding: 2px 7px;

    display:flex;
    align-items:center;
    justify-content:center;    
}   
#live-ticket a {
    background-color: var(--accent);
    color: var(--colour2);
    font-size: 1.2em;  
}
#live-ticket a:hover {
    background-color: var(--colour2);
    color: var(--accent);
    border: 1px solid var(--colour1);
}

/*------------------------------------------------------- EPK Styling */

/* General styling for right side of page */
#epk-text {
    background-color: var(--colour1);
    color: var(--colour2);
    font-size: 1.2em;

    width: 100vw;
    min-height: 60vh;
    padding: 25px;

    justify-content: center;
    align-content: center;
}
#epk-text a:hover {
    color: var(--colour2);
    text-decoration: none;
}

/* Horizontal ruler stylings */
hr.epk-hr {
    border: 1px solid var(--hr-colour);
    text-align: center;
    width: 70%;
    margin: 25px auto;
}

/* Styling for carousel images section */
#c-style {
    width: 100vw;
    height: 40vh;

    /* Fixes default padding issue with carousel */
    padding: 0;
}
/* Calling in each image to carousel to ensure responsiveness */
.c-image1 {
    background: url(../images/c1-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 40vh;
}
.c-image2 {
    background: url(../images/c2-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 40vh;
}
.c-image3 {
    background: url(../images/c3-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 40vh;
}
.c-image4 {
    background: url(../images/c4-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 40vh;
}
.c-image5 {
    background: url(../images/c5-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 40vh;
}
.c-image6 {
    background: url(../images/c6-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 40vh;
}
.c-image7 {
    background: url(../images/c7-m.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 40vh;
}

/* IGTV embed styling */
#epk-insta {
    margin: auto;
    padding: 10px;
    display: block;
}
.instagram-media {
    min-width: 70% !important;
    /* Bug that was found on 14/12 with solution sourced from WordPress. Detailed report in the 'Bugs' section of README file*/  
}

/* Spotify embed styling */
#epk-iframe {
    text-align:center;
    margin: auto;
    /* Source from Stack Overflow in order to center the Spotify iFrame embed in the middle of the page
        https://stackoverflow.com/questions/59411725/how-would-i-center-this-iframe-on-a-webpage */
}
#epk-iframe iframe {
    border: none;
    width: 75%;
}

/* Contact form styling */
#epk-contact {
    padding: 10px 20px 10px 20px;
}
#epk-contact div{
    text-align: center;
}
#epk-contact h3 {
    padding-bottom: 10px;
}
#epk-contact p {
    text-align: left;
    padding-inline-start: 5%;
}
#epk-contact button {
    /* "Get in touch" Button styling */
    background-color: var(--accent);
    color: var(--colour2);
    font-size: 1.2em;
}
#epk-contact button:hover {
    background-color: var(--colour2);
    color: var(--accent);
    border: 1px solid var(--colour1);
}

/* Copied and edited from W3Schools example to style contact form */
input[type=text], input[type=email], textarea {
    width: 90%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

/*------------------------------------------------------- Media Queries */

/* Breakpoint to maintain structural integrity on a Tablet device */
@media (min-width: 700px) and (max-width: 991px) {

    /*--------------------------------- Homepage Styling */

    /* For text on screens larger than mobile device */
    #home-text h1 {
        font-size: 4em;
    }
    #home-text h2 {
        font-size: 3em;
    }

    /*--------------------------------- BioPage Styling */

    /* For image on screens larger than mobile device */
    #bio-hero {
        height: 60vh;
        width: 100vw;
    }

    /* For text on screens larger than mobile device */
    #bio-info{
        background-color: var(--colour1);
        width: 100vw;
        padding: 50px 50px;
        align-items: baseline;
        padding-bottom: 80px;   
    }

    /*--------------------------------- Live Page Styling */

    /* General styling for live page on screens larger than mobile devices */
    #live-info {
        padding: auto;
    }
    #live-table h2 {
        /* Event date */
        font-size: 1em; 
    }
    #live-table span {
        /* Event location */
        font-size: 1.3em;
    }  
    #live-table h3 {
        /* Event venue */
        font-size: 1.3em;
    }
    #live-table p {
        /* Event time/price */
        font-size: 1em;
    }

    /* Event location styling (hidden smaller screens for UX purposes) */
    #live-location {
        margin: auto;
        padding: 0px 10px 0px 10px;
        height: auto;
        min-height: 100%;

        position: relative;
        overflow: hidden;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #live-location iframe {
        border: none;
        width: 100% !important;
        height: 100% !important;
    }
   
    /*--------------------------------- EPK Styling */
    
    /* Styling for contact form on tablet screens */
    #epk-contact p {
        text-align: left;
        padding-inline-start: 10%;
    }
    #contact-br {
        display: none;
    }

    /* Contact form input re-sizing for larger devices */
    input[type=text], input[type=email], textarea {
        width: 80%;
    }

    /*--------------------------------- Socials - Footer */

    /* Social links appear in the footer on tablet device */
    .socials-large li a i {
        font-size: 2em;
        color: var(--accent);

        margin: 8px 2px 3px 2px;
    }
    .socials-large {
        background-color: var(--colour1);
        text-align: center;
    }
    .list-inline {
        margin: 10px 5px;
    }
}

/* Breakpoint to maintain structural integrity on a Laptop Screen */
@media (min-width: 991px){ 
    
    /*--------------------------------- Header */

    /* Styling for nav bar on bigger screens*/
    .navbar {
        background-color: var(--colour1);
        float: right;
        width: 50vw;
    }
    .navbar-nav {
        background-color: var(--colour1);
        border-radius: 0px;
    }
    .nav-padding {
        padding-top: 0;
    }
    /* Changes navbar for Press Kit page for UX purposes */
    #epk-nav {
        background-color: var(--colour1);
    }

    /*--------------------------------- Homepage Styling */

    /* For image on bigger screen */
    #home-hero {
        /* Homepage Image compatible with larger screens */
        background: url(../images/hero1-d.png) no-repeat fixed cover top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        height: 100vh;
        width: 50vw;
    }
    /* For text on bigger screen */
    #home-text{
        padding: 0px 20px;
        height: 100vh;
        width: 50vw;
    }
    #home-text h1 {
        font-size: 500%;
    }
    #home-text h2 {
        font-size: 250%;
    }

    /*--------------------------------- BioPage Styling */

    /* For image on bigger screen */
    #bio-hero {
        /* Bio Image compatible with larger screens */
        background: url(../images/hero2-d.png) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        height: 100vh;
        width: 50vw;
    }

    /* For text on bigger screen */
    #bio-info{
        height: 100vh;
        width: 50vw;
        padding: 25vh 5vw;

        align-items: center;
        align-content: center;
        overflow: auto;
    }
    #bio-text #bio-title {
        padding: 200px 100px 5px 100px;
    }
    #bio-accordion {
        overflow-y: scroll;
        overflow: hidden;
        /* Solved issue with scrollbar on collapsible accordion menu */
    }

    /*--------------------------------- Live Page Styling */

    /* For image on bigger screen */
    #live-hero {
        height: 100vh;
        width: 50vw;
    }

    /* For text on bigger screen */
    #live-title {
        font-size: 2em;
    }
    #live-table {
        padding-bottom: 30px;
        display: initial;
    }
    #live-table table {
        line-height: 2;
        width: 100%;
    }
    #live-table h2 {
        /* Event date */
        font-size: large;
        letter-spacing: 2px;
    }
    #live-table span {
        /* Event location */
        font-size: 1.6em;
    }
    #live-table h3 {
        /* Event venue */
        font-size: 2em;
    }
    #live-table p {
        /* Event time/price */
        font-size: medium;
    }
    #live-ticket a {
        font-size: 1.5em;
    }

    /* Event location styling (hidden smaller screens for UX purposes) */
    #live-location {
        width: 100%;
        height: auto;
        min-height: 100%;

        position: relative;
        overflow: hidden;
        
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    #live-location iframe {
        border: none;
        width: 100% !important;
        height: 100% !important;
    }

    /*--------------------------------- EPK Styling */

    /* For text on bigger screen */
    #epk-text {
        background-color: var(--colour1);

        height: 100vh;
        width: 50vw;
        padding: 25vh 5vw;

        align-items: center;
        align-content: center;
        overflow: auto;
    }

    /* Styling for carousel images section on larger screens */
    #c-style {
        width: 50vw;
        height: 100vh;
    }

    /* Calling in each image to carousel to ensure responsiveness */
    .c-image1 {
        background: url(../images/c1-d.png) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        height: 100vh;
        width: 50vw;
    }
    .c-image2 {
        background: url(../images/c2-d.png) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        height: 100vh;
        width: 50vw;
    }
    .c-image3 {
        background: url(../images/c3-d.png) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        height: 100vh;
        width: 50vw;
    }
    .c-image4 {
        background: url(../images/c4-d.png) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        height: 100vh;
        width: 50vw;
    }
    .c-image5 {
        background: url(../images/c5-d.png) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        height: 100vh;
        width: 50vw;
    }
    .c-image6 {
        background: url(../images/c6-d.png) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        height: 100vh;
        width: 50vw;
    }
    .c-image7 {
        background: url(../images/c7-d.png) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        height: 100vh;
        width: 50vw;
    }

    /* Contact form re-sizing for larger devices */
    #epk-contact p {
        text-align: left;
        padding-inline-start: 12%;
    }
    #contact-br {
        display: none;
    }

    /* Contact form input re-sizing for larger devices */
    input[type=text], input[type=email], textarea {
        width: 80%;
    }

    /*--------------------------------- Socials - Footer */

    /* Social links appear in the footer on bigger screen */
    .socials-large li a i {
        font-size: 2em;
        color: var(--accent);

        margin: 5px 2px;
    }
    .socials-large li a i:hover {
        color: var(--colour2);
    }
    .socials-large {
        background-color: var(--colour1);
        text-align: right;
        width: 50vw;
    }
    .list-inline {
        margin: 10px 5px;
    }

    /* Divides footer into two columns to push socials to right of page*/
    .left-footer {
        width: 50vw;
    }
}

/*------------------------------------------------------- 404 Page Styling */

/* General Styling for error page */
#error-page {
    background-color: var(--colour1);
    padding: 30px;
}

/* Responsive styling for error image */
#error-img {
    max-width: 100%;
    height: auto;
}

/* Responsive styling for error div */
#error {
    background-color: var(--colour2);
    text-align: center;
    font-size: 1.3em;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 

    padding: 20px;
    margin: auto;
    width: 40%;
}
#error a {
    color: var(--accent);
}


