/* Google Font import for Cabin and Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Raleway:wght@300;700&display=swap');

:root {
    --mainfont: 'Cabin', sans-serif;
    --secondaryfont: 'Raleway', sans-serif;
    --colour1: #242424;
    --colour2: whitesmoke;
    --accent: rgb(173, 20, 20);
}

body {
    font-family: var(--mainfont);
}

/*-------------------------------------- Nav Bar*/
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(56, 54, 54, 0.075);
}

.navbar .nav-link a {
    color: var(--accent);
}
